@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --vermelho-prime: #e60000;
    --preto-prime: #0f172a;
    --branco: #ffffff;
    --vermelho-escuro: #b50000;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

span {
    color: #e60000;
}

body {
    background: black;
}

nav {
    background: var(--branco);
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

nav .logo_nav {
    display: flex;
    align-items: center;
}

nav .logo_nav img {
    width: 80px;
    height: auto;
    transform: rotate(-45deg);
    margin-right: 10px;
}

nav .logo_nav h1{
    font-size: 45px;
}

nav .logo_nav span{
    font-size: 45px;
    color: var(--vermelho-prime);
}

nav .menu_nav {
    display: flex;
    align-items: center;
}

nav .menu_nav a {
    font-size: 33px;
    margin-left: 40px;
    color: #4e4e4e;
    
}

nav .menu_nav button {
    margin-left: 40px;
    background: var(--vermelho-prime);
    color: #ffffff;
    font-size: 30px;
    padding: 24px 50px 24px 50px;
    border-radius: 50px;
}

nav .menu_nav button:hover {
    background: var(--vermelho-escuro);
}

.main_inicial {
    background: url("/img/ChatGPT\ Image\ 20\ de\ jan.\ de\ 2026\,\ 23_43_20.webp");
    background-repeat: no-repeat;
}