@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
    --vermelho-prime: #e60000;
    --preto-prime: #0f172a;
    --branco: #ffffff;
    --vermelho-escuro: #b50000;
    --cinza: #4e4e4e;
}

* {
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

span {
    color: #e60000;
}

body {
    background: black;
}

p {
    color:var(--cinza);
}

/*---- NAVBAR ---*/

nav {
    background: var(--branco);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

nav .logo-nav {
    display: flex;
    align-items: center;
}

nav .logo-nav img {
    width: 80px;
    height: auto;
    transform: rotate(-45deg);
    margin-right: 10px;
}

nav .logo-nav h1{
    font-size: 45px;
}

nav .logo-nav span{
    font-size: 45px;
    color: var(--vermelho-prime);
}

nav .menu-nav {
    display: flex;
    align-items: center;
}

nav .menu-nav a {
    font-size: 20px;
    margin-left: 40px;
    color: #4e4e4e;
    transition:  all 0.4s ease;
}

nav .menu-nav a:hover{
    color: var(--vermelho-prime);
}

nav .menu-nav button {
    margin-left: 40px;
    background: var(--vermelho-prime);
    color: #ffffff;
    font-size: 20px;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    transition:  all 0.4s ease;
}

nav .menu-nav button:hover {
    background: var(--vermelho-escuro);
}


/*---- MAIN INICIAL ---*/
.main-inicial {
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/photo-1761971975769-97e598bf526b.jpeg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


/*---- CONTEUDO MAIN     ---*/
.main-inicial .conteudo-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-top: 50px;
}

.main-inicial h1 {
    color: var(--branco);
    font-size: 90px;
    margin-bottom: 30px;
    font-weight: 400;
}

.main-inicial p {
    color: var(--branco);
    font-size: 32px;
    width: 900px;
    margin-bottom: 30px;
    font-weight: 300;
}


/*---- BOTÕES INICIAIS ---*/
.main-inicial .butons-Initial .btn-1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 30px;
    padding: 16px 32px 16px 32px;
    background-color: var(--vermelho-prime);
    color: var(--branco);
    margin-right: 30px;
    transition:  all 0.4s ease;
}

.main-inicial .butons-Initial .btn-1:hover {
    background-color: var(--vermelho-escuro);
}

.main-inicial .butons-Initial .btn-2 {
    padding: 16px 32px 16px 32px;
    border: var(--branco) 2px solid;
    background-color: transparent;
    color: var(--branco);
    border-radius: 30px;
    font-size: 20px;
    transition:  all 0.4s ease;
}

.main-inicial .butons-Initial .btn-2:hover {
    background-color: var(--branco);
    color: black;
}

/* --- CONTAINER SOBRE --- */

.sobre-contain {
    display: flex;
    flex-direction: column; /* Faz os itens ficarem um embaixo do outro */
    align-items: center;    /* Centraliza horizontalmente agora que é coluna */
    justify-content: center;
    background-color: #e2e2e2;
    width: 100%;
    height: auto;           /* Mudado de 100vh para auto para não cortar o conteúdo */
    padding: 40px 0;
}

.sobre-block1 {
    display: flex;
    margin-top: 90px;
    height: 500px;
}


.cont-text-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    margin-right: 90px;
    height: 500px;
}
.cont-text-sobre h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.cont-text-sobre p {
    width: 900px;
    margin-bottom: 30px;
    font-size: 23px;
}

.cont-img-sobre img {
    width: 900px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*--- INFORMAÇÕES DA EMPRESA ---*/
.info {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
}
.block-info {
    text-align: center;
    margin-top: 60px;
}

.block-info h1 {
    font-size: 40px;
}

.block-info p {
    font-size: 18px;
}


/*--- ICONS DE INFORMAÇÃO ---*/
.icon-info {
    background-color: var(--vermelho-prime);
    border-radius: 50%; /* 50% em um quadrado sempre gera um círculo */
    
    /* Defina um tamanho fixo igual para os dois */
    width: 80px; 
    height: 80px;

    /* Centraliza o ícone branco dentro do círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Remova o padding ou ajuste se necessário */
    padding: 0; 
    margin: 0 auto;
    margin-bottom : 20px;
}

.icon-info svg {
    width: 40px;
    height: 40px;
}

/*--- Serviços ---*/

.service-container {
    background-color: var(--branco);
    height: 600px;
}

.service-container .title-service {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center ;

}

.title-service h1 {
    font-size: 60px;
}

.title-service p {
    font-size: 25px;
    width: 600px;
    margin-top: 20px;
}

/*--- Serviço OPÇÕES ---*/

.service-container {
    
}

.services-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 
    padding: 0 20px;
    max-width: 1100px;
    margin: 0 auto;
}

#box-service {
    display: flex;
    flex-direction: column;
    border: #0f172a 2px solid;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}

#box-service h1 {
    margin-left: 30px;
    margin-top: 90px;
}
#box-service p {
    width: 400px;
    margin-left: 30px;
}