@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
    --vermelho-prime: #e60000;
    --preto-prime: #0f172a;
    --branco: #ffffff;
    --quaseBranco: #f8f8f8;
    --vermelho-escuro: #b50000;
    --cinza: #4e4e4e;
    --meioBranco: #e6e6e6;
}

* {
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

span {
    color: #e60000;
}

body {
    background: black;
}

p {
    color: var(--cinza);
}

ul {
    list-style-type: none;
}

/*---- NAVBAR ---*/

nav {
    background: var(--branco);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

nav .logo-nav {
    display: flex;
    align-items: center;
}

nav .logo-nav img {
    width: 80px;
    height: auto;
    transform: rotate(-45deg);
    margin-right: 10px;
}

nav .logo-nav h1 {
    font-size: 45px;
}

nav .logo-nav span {
    font-size: 45px;
    color: var(--vermelho-prime);
}

nav .menu-nav {
    display: flex;
    align-items: center;
}

nav .menu-nav a {
    font-size: 20px;
    margin-left: 40px;
    color: #4e4e4e;
    transition: all 0.4s ease;
}

nav .menu-nav a:hover {
    color: var(--vermelho-prime);
}

nav .menu-nav button {
    margin-left: 40px;
    background: var(--vermelho-prime);
    color: #ffffff;
    font-size: 20px;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    transition: all 0.4s ease;
}

nav .menu-nav button:hover {
    background: var(--vermelho-escuro);
}


/*---- MAIN INICIAL ---*/
.main-inicial {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/photo-1761971975769-97e598bf526b.jpeg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


/*---- CONTEUDO MAIN     ---*/
.main-inicial .conteudo-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-top: 50px;
}

.main-inicial h1 {
    color: var(--branco);
    font-size: 90px;
    margin-bottom: 30px;
    font-weight: 400;
}

.main-inicial p {
    color: var(--branco);
    font-size: 32px;
    width: 900px;
    margin-bottom: 30px;
    font-weight: 300;
}


/*---- BOTÕES INICIAIS ---*/
.main-inicial .butons-Initial .btn-1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 30px;
    padding: 16px 32px 16px 32px;
    background-color: var(--vermelho-prime);
    color: var(--branco);
    margin-right: 30px;
    transition: all 0.4s ease;
}

.main-inicial .butons-Initial .btn-1:hover {
    background-color: var(--vermelho-escuro);
}

.main-inicial .butons-Initial .btn-2 {
    padding: 16px 32px 16px 32px;
    border: var(--branco) 2px solid;
    background-color: transparent;
    color: var(--branco);
    border-radius: 30px;
    font-size: 20px;
    transition: all 0.4s ease;
}

.main-inicial .butons-Initial .btn-2:hover {
    background-color: var(--branco);
    color: black;
}

/* --- CONTAINER SOBRE --- */

.sobre-contain {
    display: flex;
    flex-direction: column;
    /* Faz os itens ficarem um embaixo do outro */
    align-items: center;
    /* Centraliza horizontalmente agora que é coluna */
    justify-content: center;
    background-color: var(--quaseBranco);
    width: 100%;
    height: auto;
    /* Mudado de 100vh para auto para não cortar o conteúdo */
    padding: 40px 0;
}

.sobre-block1 {
    display: flex;
    margin-top: 90px;
    height: 500px;
}


.cont-text-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    margin-right: 90px;
    height: 500px;
}

.cont-text-sobre h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.cont-text-sobre p {
    width: 900px;
    margin-bottom: 30px;
    font-size: 23px;
}

.cont-img-sobre img {
    width: 900px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*--- INFORMAÇÕES DA EMPRESA ---*/
.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1700px;
}

.block-info {
    text-align: center;
    margin-top: 60px;
}

.block-info h1 {
    font-size: 40px;
}

.block-info p {
    font-size: 18px;
}


/*--- ICONS DE INFORMAÇÃO ---*/
.icon-info {
    background-color: var(--vermelho-prime);
    border-radius: 50%;
    /* 50% em um quadrado sempre gera um círculo */

    /* Defina um tamanho fixo igual para os dois */
    width: 80px;
    height: 80px;

    /* Centraliza o ícone branco dentro do círculo */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Remova o padding ou ajuste se necessário */
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.icon-info svg {
    width: 40px;
    height: 40px;
}

/*--- Serviços ---*/

.service-container {
    background-color: var(--branco);
    height: 1000px;
}

.service-container .title-service {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-service h1 {
    font-size: 60px;
    margin-top: 90px;
    font-weight: 200;
}

.title-service p {
    font-size: 25px;
    width: 1000px;
    margin-top: 20px;
}

/*--- Serviço OPÇÕES ---*/

.service-container {}

.services-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas iguais */
    gap: 20px;
    width: 1600px;
    margin: 40px auto;
    /* Centraliza o bloco todo */
    padding: 0 20px;
}

.box-service {
    position: relative;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    background-size: cover;
    background-position: center;
    color: white;
    cursor: pointer;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
}

.box-service:hover {
    background-size: 120%;
}

.service-icon {
    background-color: #ff0000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo dos textos dentro do card */
.box-service h1 {
    font-size: 1.4rem;
    margin: 0 0 10px 0;
    text-align: left;
}

.box-service p {
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 0;
    text-align: left;
    color: var(--branco);
}

/* Bloco 1 - Musculação */
#caixa-1 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
        url('/img/photo-1591258370814-01609b341790.jpeg');
}

/* Bloco 2 - Yoga (Exemplo) */
#caixa-2 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
        url('/img/photo-1630415188550-9e454489ce3a.jpeg');
}

/* Bloco 3 - Cardio (Exemplo) */
#caixa-3 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
        url('/img/photo-1651077837628-52b3247550ae.jpeg');
}

#caixa-4 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
        url('/img/photo-1739430548323-d3a55a714052.jpeg');
}

#caixa-5 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
        url('/img/photo-1761971975769-97e598bf526b.jpeg');
}

#caixa-6 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
        url('/img/photo-1591258370814-01609b341790.jpeg');
}


/*--- PLANOS ---*/

.planos-container {
    background-color: var(--quaseBranco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.planos-container .title-plano {
    margin-bottom: 50px;
}

.planos-container .title-plano h1 {
    font-size: 60px;
    margin-top: 70px;
    font-weight: 300;
    margin-bottom: 20px;
}

.planos-container .title-plano p {
    font-size: 20px;
}

/*--- Planos BOX ---*/

.group-planos {
    display: flex;
    gap: 50px;
}

.box-plano {
    width: 400px;
    border-radius: 10px;
    background-color: var(--branco);
    text-align: center;
    display: flex;
    height: 670px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-plano h3 {
    font-size: 30px;
    font-weight: 200;
    margin-top: 40px;
}

.box-plano h1 {
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 400;
}

.box-plano h1 span {
    font-size: 25px;
    color: var(--cinza);
    font-weight: 200;

}

.box-plano li {
    display: flex;
}

.box-plano li p {
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 10px;
}

.box-plano .botao-plano {
    width: 350px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--vermelho-prime);
    color: var(--branco);
    font-size: 18px;
    margin-top: 10px;
    transition: all 0.4s ease;
}

.box-plano .botao-plano:hover {
    background-color: var(--vermelho-escuro);
}

/*--- Plano Premium ---*/
.tag-popular {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    margin-top: 40px;
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-popular p {
    color: var(--vermelho-prime);
    font-size: 20px;
}

.box-plano-1 {
    width: 400px;
    border-radius: 10px;
    background-color: var(--vermelho-prime);
    /*padding-left: 40px;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 70px;
}

.box-plano-1 h3 {
    font-size: 30px;
    font-weight: 200;
    margin-top: 20px;
    color: var(--branco);
    margin-bottom: 20px;
}

.box-plano-1 h1 {
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 400;
    color: var(--branco);
}

.box-plano-1 h1 span {
    font-size: 25px;
    color: var(--cinza);
    font-weight: 200;
    color: var(--branco);

}

.box-plano-1 li {
    display: flex;
}

.box-plano-1 li p {
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 10px;
    color: var(--branco);
}

.box-plano-1 .botao-plano-1 {
    width: 350px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--branco);
    color: var(--vermelho-prime);
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 20px;
    transition: all 0.4s ease;
}

.box-plano-1 .botao-plano-1:hover {
    background-color: var(--meioBranco);
}

/*--- COMENTARIO DE CLIENTES ---*/

.clientes-container {
    background: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clientes-container .title-clientes {
    text-align: center;
    margin-bottom: 80px;
}

.clientes-container .title-clientes h1 {
    font-size: 60px;
    font-weight: 300;
    margin-top: 70px;
}

.clientes-container .title-clientes p {
    font-size: 20px;
    margin-top: 10px;
}


.group-comentarios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-bottom: 90px;
}

.comentario {
    width: 600px;
    padding-left: 40px;
    background-color: var(--quaseBranco);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.4s ease;
}

.comentario:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.comentario p {
    width: 500px;
    font-size: 20px;
}

/*--- PERFIL DO CLIENTE DO COMENTARIO ---*/
.perfil-Cliente {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.perfil-Cliente p {
    font-size: 15px;
    margin-top: 5px;
}

.perfil-Cliente img {
    width: 64px;
    height: auto;
    border-radius: 50px;
    margin-right: 20px;
}

/*--- Estrelas comentarios ---*/
.comentario .estrelas img {
    width: 32px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    user-select: none;
}

/*--- Estrutura da academia section ---*/

.estrutura-container {
    background-color: var(--quaseBranco);
    display: flex;
    flex-direction: column;
}

.title-esturtura {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 70px;
}

.title-esturtura h1 {
    font-size: 70px;
    font-weight: 200;  
}

.title-esturtura p {
    margin-top: 20px;
    font-size: 25px;
}

.img-estrutura-grupo {
    display: flex;
    gap: 40px;
    justify-content: center;

}

.img-estrutura-grupo .img-1 {
    cursor: pointer;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
    overflow: hidden;
    background-size: cover;
}

.img-estrutura-grupo .img-1:hover {
    background-size: 120%;
}

.img-estrutura-grupo .img-1 img {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
    user-select: none;
    margin-bottom: 60px
}
